<section class="widget_section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer_widget">
                    <img class="mb-15" src="~/img/logo.png" alt="Brand">
                    <p>Наш барбершоп создан для мужчин, которые ценят премиальное качество, время и безупречный внешний вид.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer_widget">
                    <h3>Контакты</h3>
                    <p>ул. Горького, 33А, Королёв, Московская обл., 141080</p>
                    <p>ilya@cluborg.ru <br> +7(916)459-69-42</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer_widget">
                    <h3>Время работы</h3>
                    <ul class="opening_time">
                        <li>Понедельник - Пятница 10:00 - 23:00</li>
                        <li>Суббота – Воскресение: 10:00 – 20:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.widget_section -->