<section class="slider_section">
    <ul id="main-slider" class="owl-carousel main_slider">
        <li class="main_slide d-flex align-items-center" style="background-image: url(img/slide-1.jpg); min-width: 1600px ; min-height: 800px; ">
            <div class="container">
                <div class="slider_content">
                    <h3>Это не просто стрижка, это опыт.</h3>
                    <h1>Быть парикмахером — значит <br>заботиться о людях.</h1>
                    <p>Наш барбершоп — это территория, созданная исключительно для мужчин, которые ценят<br>премиальное качество, время и безупречный внешний вид.</p>
                </div>
            </div>
        </li>
        <li class="main_slide d-flex align-items-center" style="background-image: url(img/slide-2.jpg); min-width: 1600px ; min-height: 800px;">
            <div class="container">
                <div class="slider_content">
                    <h3>Классическая прическа и бритье.</h3>
                    <h1>Наши прически<br>подчеркнут вашу улыбку.</h1>
                    <p>Наш барбершоп — это территория, созданная исключительно для мужчин, которые ценят<br>премиальное качество, время и безупречный внешний вид.</p>
                </div>
            </div>
        </li>
        <li class="main_slide d-flex align-items-center" style="background-image: url(img/slide-3.jpg); min-width: 1600px ; min-height: 800px;">
            <div class="container">
                <div class="slider_content">
                    <h3>Это не просто стрижка, это опыт.</h3>
                    <h1>Там, где мужчины хотят <br>выглядеть лучше всего.</h1>
                    <p>Наш барбершоп — это территория, созданная исключительно для мужчин, которые ценят<br>премиальное качество, время и безупречный внешний вид.</p>
                </div>
            </div>
        </li>
    </ul>
</section><!-- /.slider_section -->

<section id="about" class="about_section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_content align-center">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms">Представляем</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="200ms">The Barber Shop<br>Открытый в 1991</h2>
                    <img class="wow fadeInUp" data-wow-delay="500ms" src="img/about-logo.png" alt="logo">
                    <p class="wow fadeInUp" data-wow-delay="600ms">Наша команда состоит из людей, совмещающих техники классического барберинга и точные техники стрижки с высококлассным сервисом.</p>
                    <a asp-controller="Home" asp-action="AboutUs" class="default_btn wow fadeInUp" data-wow-delay="600ms">О нас</a>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="about_img">
                    <img src="img/about-1.jpg" alt="idea-images" class="about_img_1 wow fadeInLeft" data-wow-delay="200ms">
                    <img src="img/about-2.jpg" alt="idea-images" class="about_img_2 wow fadeInRight" data-wow-delay="400ms">
                    <img src="img/about-3.jpg" alt="idea-images" class="about_img_3 wow fadeInLeft" data-wow-delay="600ms">
                </div>
            </div>
        </div>
    </div>
</section> <!--/.about_section -->

<section class="service_section bg-grey padding">
    <div class="container">
        <div class="section_heading text-center mb-40 wow fadeInUp" data-wow-delay="300ms">
            <h3>Барбер шоп</h3>
            <h2>Наши услуги</h2>
            <div class="heading-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="200ms">
                <div class="service_box">
                    <i class="bs bs-scissors-1"></i>
                    <h3>
                        Мужская стрижка с укладкой
                    </h3>
                    <p>Классика жанра. Моем голову лучшим шампунем премиального класса, стрижём машинкой и ножницами, после чего снова моем волосы и делаем фирменную укладку от барбера.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
                <div class="service_box">
                    <i class="bs bs-razor-2"></i>
                    <h3>Бритье опасной бритвой</h3>
                    <p>Супер-тема, которую нужно попробовать, хотя бы раз, а дальше привыкание… Очищаем и распариваем кожу лица, смягчаем и уничтожаем щетину опасной бритвой.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="400ms">
                <div class="service_box">
                    <i class="bs bs-brush"></i>
                    <h3>
                        Моделирование бороды и усов, spa + бритьё
                    </h3>
                    <p>Мы знаем самую подходящую форму бороды и усов для Вас. Только индивидуальный подход, никаких шаблонов. Создаем четкие контуры под ваш стиль, стрижем машинкой и подравниваем лезвием.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="500ms">
                <div class="service_box">
                    <i class="bs bs-hairbrush-1"></i>
                    <h3>
                        Стрижка машинкой (несколько насадок)
                    </h3>
                    <p>Стрижка без использования ножниц, с мытьем головы.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/. service_section -->


<section class="pricing_section bg-grey bd-bottom padding">
    <div class="container">
        <div class="section_heading text-center mb-40 wow fadeInUp" data-wow-delay="300ms">
            <h2>Услуги</h2>
            <div class="heading-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 sm-padding">
                <div class="price_wrap">
                    <h3>Мужская стрижка</h3>
                    <ul class="price_list">
                        <li>
                            <h4>Барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">2100 руб.</span>
                        </li>
                        <li>
                            <h4>Старший барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">2400 руб.</span>
                        </li>
                        <li>
                            <h4>Топ барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">2800 руб.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-padding">
                <div class="price_wrap">
                    <h3>Стрижка машинкой Fade</h3>
                    <ul class="price_list">
                        <li>
                            <h4>Барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">1600 руб.</span>
                        </li>
                        <li>
                            <h4>Старший барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">1900 руб.</span>
                        </li>
                        <li>
                            <h4>Топ барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">2200 руб.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-padding">
                <div class="price_wrap">
                    <h3>Детская стрижка</h3>
                    <ul class="price_list">
                        <li>
                            <h4>Барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">1500 руб.</span>
                        </li>
                        <li>
                            <h4>Старший барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">1800 руб.</span>
                        </li>
                        <li>
                            <h4>Топ барбер</h4>
                            <p>45 мин/1ч</p>
                            <span class="price">2000 руб.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="reviews" class="testimonial_section padding">
    <div class="container">
        <ul id="testimonial_carousel" class="testimonial_items owl-carousel">
            <li class="testimonial_item">
                <p>"Здесь работают лучшие люди, а стрижка превращается в добрую беседу, барберы, каждый интересен по своему, у каждого свой стиль и подход, но больше всего нравится Екатерина, и администратор милая и приветливая девушка, каждый визит оставляет замечательные впечатления и от результата работы профессионала, и от атмосферы, всем советую это место."</p>
                <h4 class="text-white">Егор</h4>
            </li>
            <li class="testimonial_item">
                <p>
                    "Ребята профессионалы своего дела. Админы понимают когда сделать кофе с одного взгляда. Кроме абсолютного профессионализма ребят, тут еще и настоящая мужская атмосфера "
                </p>
                <h4 class="text-white">Александр</h4>
            </li>
            <li class="testimonial_item">
                <p>"Все понравилось! Барбер Артур помог выбрать прическу, так как у меня даже идеи не было. Великолепно!"</p>
                <h4 class="text-white">Никита</h4>
            </li>
        </ul>
    </div>
</section><!-- /. testimonial_section --><!-- /. pricing_section -->
